.NewOffer-container {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px;
  .offer-title-container {
    h3 {
      color: #111111;
      font-size: 24px;
      font-weight: 500;
    }
    margin: 30px 0;
  }
  .productsCard-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 15px;
    width: 100%;
    .productsCard {
      list-style: none;
    }
  }
}

@media screen and (max-width: 1015px) {
  .NewOffer-container {
    .productsCard-container {
      grid-template-columns: auto auto auto auto;
    }
  }
}

@media screen and (max-width: 940px) {
  .NewOffer-container {
    .productsCard-container {
      grid-template-columns: auto auto auto;
    }
  }
}

@media screen and (max-width: 710px) {
  .NewOffer-container {
    .productsCard-container {
      grid-template-columns: auto auto;
    }
  }
}
