.ProductCard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  .main-img-container {
    width: 100%;
    height: 320px;
    img {
      width: 100%;
      height: 320px;
      object-fit: cover;
    }
  }
  .product-info-container {
    padding: 10px;
    .first-column {
      .product-price {
        font-weight: 500;
        font-size: 14;
        display: inline-block;
      }

      .product-likes {
        float: right;
        .icon-container {
          width: 16px;
          height: 16px;
          display: inline-block;
          fill: rgb(102, 102, 102);
        }
        span {
          color: #999999;
          padding: 3px;
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
    .prouct-sizes {
      font-weight: 500;
      font-size: 14;
      color: #999999;
    }
  }
}
