.product {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(245, 246, 247);
  .product-container {
    background-color: rgb(245, 246, 247);
    display: flex;
    width: calc(100% - 30px);
    height: 100vh;
    justify-content: center;
    gap: 20px;

    .product-info {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      width: 30%;
      border-radius: 5px;

      .title {
        color: #999999;
        width: 41%;
        text-align: left;
        font-size: 13px;
      }

      .value {
        color: #666666;
        width: 41%;
        text-align: left;
        font-size: 13px;
      }

      .icon {
        width: 8%;
        text-align: left;
        color: #999999;
        cursor: pointer;
      }
      .column-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        gap: 2px;
        background-color: white;

        .product-price {
          width: 100%;
          font-size: 24px;
          border-bottom: 1px solid #999999;
          padding-bottom: 9px;
        }
        .brand {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          .value {
            color: rgb(9, 177, 186);
            text-decoration: none;
            cursor: pointer;
          }
          .value:hover {
            text-decoration: underline;
          }
        }
        .size {
          display: flex;
          justify-content: space-between;
        }
        .login-time {
          display: flex;
          justify-content: space-between;
          .title {
            width: 41%;
          }
          .value {
            width: 55%;
          }
        }
      }

      .column-2 {
        margin-top: 2px;
        background-color: white;
        .product-description {
          display: flex;
          flex-direction: column;
          margin: 15px;
          gap: 9px;
          .title {
            color: black;
            font-size: 16px;
            width: 100%;
            word-break: break-word;
          }
          p {
            color: #999999;
            font-size: 16px;
          }
          .but-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .but {
              margin: 0;
              font-size: 14px;
              padding: 9px;
              svg {
                width: 16px;
                height: 16px;
                margin-right: 5px;
                fill: #999999;
              }
            }
            .but-secondery {
              color: #999999;
            }
          }
        }
      }
      .column-3 {
        cursor: pointer;
        background-color: white;
        margin-top: 20px;
        padding: 15px;
        .user-info {
          display: flex;
          gap: 20px;
          align-items: center;
          .user-img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            overflow: hidden;
            background-color: rgb(224, 221, 221);
            display: flex;
            justify-content: center;
            img {
              width: 100px;
              height: 100%;
              object-fit: contain;
            }
          }
          .user-name {
            color: black;
            font-size: 16px;
            font-weight: 500;
            .rating {
              display: block;
              color: gold;
              margin-right: 5px;
              svg {
                margin-top: 2px;
                width: 14px;
                margin-left: 2px;
              }
              p {
                margin-left: 4px;
                display: inline-block;
                font-size: 12px;
                color: #999999;
              }
            }
          }
        }
      }
    }

    // .product-gallery,
    // .group-3 {
    //   margin-top: 30px;
    //   display: grid;
    //   width: 70%;
    //   height: 500px;
    //   margin-bottom: 40px;
    //   grid-template-columns: 50% 50%;
    //   grid-template-rows: 50% 50%;
    //   gap: 2px;
    //   padding: 5px;

    //   img {
    //     border-radius: 2px;
    //     object-fit: cover;
    //     width: 100%;
    //     height: 100%;
    //   }
    //   .img-1 {
    //     grid-row-start: 1;
    //     grid-row-end: 3;
    //   }
    // }

    // .product-gallery,
    // .group-2 {
    //   margin-top: 30px;
    //   display: grid;
    //   width: 70%;
    //   height: 500px;
    //   margin-bottom: 40px;
    //   grid-template-columns: 50% 50%;
    //   grid-template-rows: 50% 50%;
    //   gap: 2px;
    //   padding: 5px;

    //   img {
    //     border-radius: 2px;
    //     object-fit: cover;
    //     width: 100%;
    //     height: 100%;
    //   }
    //   .img-1 {
    //     grid-row-start: 1;
    //     grid-row-end: 3;
    //   }
    //   .img-2 {
    //     grid-row-start: 1;
    //     grid-row-end: 3;
    //   }
    // }
  }
}
