.product {
  .product-container {
    .product-gallery {
      width: 70%;
      .group-4 {
        width: 100%;
        height: 100vh;
        padding: 5px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
          'img1 img1 img2 img3'
          'img1 img1 img2 img3'
          'img1 img1 img4 img5'
          'img1 img1 img4 img5';
        gap: 2px;
        img {
          border-radius: 2px;
          object-fit: cover;
          width: 100%;
          height: 100%;
          display: none;
        }
        .img-1 {
          grid-area: img1;

          img {
            display: inline-block;
          }
        }
        .img-2 {
          grid-area: img2;
          img {
            display: inline-block;
          }
        }
        .img-3 {
          grid-area: img3;
          img {
            display: inline-block;
          }
        }
        .img-4 {
          grid-area: img4;
          img {
            display: inline-block;
          }
        }
        .img-5 {
          grid-area: img5;
          img {
            display: inline-block;
          }
        }
      }
    }
    .group-3 {
      width: 100%;
      height: 100vh;
      padding: 5px;
      margin-bottom: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        'img1 img1 img2 img2'
        'img1 img1 img2 img2'
        'img1 img1 img3 img3'
        'img1 img1 img3 img3';
      gap: 2px;
      img {
        border-radius: 2px;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .img-1 {
        grid-area: img1;
      }
      .img-2 {
        grid-area: img2;
      }
      .img-3 {
        grid-area: img3;
      }
    }

    .group-2 {
      width: 100%;
      height: 100vh;
      padding: 5px;
      margin-bottom: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        'img1 img1 img2 img2'
        'img1 img1 img2 img2'
        'img1 img1 img2 img2'
        'img1 img1 img2 img2';
      gap: 2px;
      img {
        border-radius: 2px;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .img-1 {
        grid-area: img1;
      }
      .img-2 {
        grid-area: img2;
      }
    }
  }
}
